<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Rails:</strong>
  <%= @pin.rails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @pin.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @pin.scaffold %>
</p>

<p>
  <strong>Pins:</strong>
  <%= @pin.pins %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
