<H1> Conditioner </h1>
<br/>
<form class="form-search" method="get" id="s" action="/">
    <div class="input-append">
        <input type="text" class="input-medium search-query" name="s" placeholder="Search" value="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<br/>
<h4><a href="/aussie"><img class="img-responsive" src="<%= image_path "aussie-logo1.jpg" %>"/></a></p>
</h4>
<br/>
<h4><a href="/headandshoulders"><img class="img-responsive" src="<%= image_path "headandshoulders.jpg" %>"/></a></h4>
<br/>

<h4><div class="col-md-3"><a href="/loreal"><a href="/pantene"><img class="img-responsive" src="<%= image_path "loreal-logo.jpg" %>"/></a></h4></div>
	<br/>
<h4><a href="/pantene"><img class="img-responsive" src="<%= image_path "pantene.jpg" %>"/></a></h4>
<br/>
<h4><a href="/paulmitchell"><img class="img-responsive" src="<%= image_path "174.jpg" %>"/></a></h4>
<br/>
<h4><a href="/suave"><img class="img-responsive" src="<%= image_path "suave-logo.jpg" %>"/></h4>
<br/>
<h4><a href="/tresemme"><img class="img-responsive" src="<%= image_path "Tresemme-logo.jpg" %>"/></a></h4>